API_HelloWorls/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Customer" xmlns:tns="http://www.example.org/Customer" elementFormDefault="qualified">

    <complexType name="CustomerType">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="city" type="string"></element>
    		<element name="id" type="int"></element>
    	</sequence>
    </complexType>

    <element name="CustomerRequest" type="tns:CustomerType"></element>

    <element name="CustomerResponse" type="tns:CustomerType"></element>
</schema>